# Virtual Environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Setuptools distribution folder
/dist/
/build/

# Python egg metadata
.egg-info/

# Compiled Python files
*.pyc

# Python cache
.pycache/

# database file
# Игнорировать конкретный файл
db/database.db

# Игнорировать все .db файлы
*.db

# Игнорировать скрытые .db файлы
.*.db

# Игнорировать всю папку db
db/

# Logs and runtime data
logs/
*.log

# Environment variable file
.env

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# SQLite database file
*.sqlite3

# XML XLSX files
*.xlsx
*.xml